---
import Layout from '../layouts/Layout.astro';
import Gallery from '../components/Sections/Gallery.astro';
import Photos from '../components/Sections/Photos.astro';
import Events from '../components/Sections/Events.astro';
---

<Layout title="Gallery | AndrixNg1">
	<section>
		<Gallery />
	</section>
	<section>
		<Photos />
	</section>
	<section>
		<Events />
	</section>
</Layout>
