---
import Layout from '../layouts/Layout.astro';
import About from '../components/Sections/About.astro';
import Skills from '../components/Sections/Skills.astro';
import Services from '../components/Sections/Services.astro';
---

<Layout title="Home | AndrixNg1">
	<section>
		<About />
	</section>
	<section>
		<Skills />
	</section>
	<section>
		<Services />
	</section>
</Layout>
