---
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Sections/Projects.astro';
---

<Layout title="Projects | AndrixNg1">
	<section>
		<Projects />
	</section>
</Layout>
